<div class="container mt-5">
    <div *ngIf="!createMode">
      <h2>Sales Orders - Open Sales Orders</h2>
      <a class="nav-link" [routerLink]="['/sales']"><h2><i class="fa fa-arrow-left"></i></h2></a>
      <div style="text-align: left">
          <button class="btn btn-primary btn-md" (click)="createToggle()">Create</button>
      </div>
      <br>
      <div class="row" style="text-align: left"> 
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 5%"></th>
              <th style="width: 5%"></th>
              <th style="width: 5%">OrderDate</th>         
              <th style="width: 10%">PoNumber</th>
              <th style="width: 5%">PoLine</th>
              <th style="width: 5%">SoNumber</th>
              <th style="width: 10%">CustomerPn</th>
              <th style="width: 5%">OrderQty</th>
              <th style="width: 5%">ShipQty</th>
              <th style="width: 10%">PromiseDate</th>              
              <th style="width: 10%">ShipDate</th>
              <th style="width: 10%">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let soplan of soplans">
              <td><button class="btn btn-info" (click)="editSoPlansModal(soplan)">Edit</button></td>
              <td><button class="btn btn-info" (click)="deleteSoPlan(soplan.soPlanId)">Delete</button></td>
              <td>{{soplan.orderDateTime | date:'shortDate'}}</td>          
              <td>{{soplan.customerOrderNo}}</td>
              <td>{{soplan.customerOrderLine}}</td>
              <td>{{soplan.soNumber}}</td>
              <td>{{soplan.customerPn}}</td>
              <td>{{soplan.orderQty}}</td>
              <td>{{soplan.shipQty}}</td>
              <td>{{soplan.promiseDateTime | date:'shortDate'}}</td>
              <td>{{soplan.shipDateTime | date: 'shortDate'}}</td>              
              <td>{{soplan.notes}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="createMode" class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <app-sales-create (cancelCreate)="cancelCreateMode($event)"></app-sales-create>
          </div>
        </div>
    </div>
</div>

