<div class="container mt-4">
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="customer-tabset">
          <tab heading="Edit Customer">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateTxQoh()">
              <h4>Pn</h4>
              <textarea name="pn" rows="1" class="form-control"
              [(ngModel)]="txqoh.pn"></textarea>
              <h4>Description</h4>
              <textarea name="partDescription" rows="1" class="form-control"
              [(ngModel)]="txqoh.partDescription"></textarea>
              <h4>Qoh</h4>
              <textarea name="qoh" rows="1" class="form-control"
              [(ngModel)]="txqoh.qoh"></textarea>
              <h4>Location</h4>
              <textarea name="location" rows="1" class="form-control"
              [(ngModel)]="txqoh.location"></textarea>
              <h4>HtsCode</h4>
              <textarea name="htsCode" rows="1" class="form-control"
              [(ngModel)]="txqoh.htsCode"></textarea>
              <h4>Notes</h4>
              <textarea name="notes" rows="1" class="form-control"
              [(ngModel)]="txqoh.notes"></textarea>
            </form>
          </tab>
          <tab heading="Mookie">
            <p></p>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="footer">
      <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
    </div>
  </div>
