<div class="container mt-4">
    <div style="text-align: center">
      <div class="row">
        <div class="col-11 text-left">
          <!--<img [src]="jap" alt="image" width="384" height="216">>-->
          <h2>Sales</h2>
        </div>
      </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3">
        <h3><i class="fa fa-opera"></i></h3>
        <a class="nav-link" [routerLink]="['/sales-create']"><h3>Create New Order</h3></a>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-barcode"></i></h3>
        <a class="nav-link" [routerLink]="['/sales-list']"><h3>Open Orders</h3></a>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-eye"></i></h3>
        <a class="nav-link" [routerLink]="['/slotted']"><h3>Slotted Orders</h3></a>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-magnet"></i></h3>
        <a class="nav-link" [routerLink]="['/shipouts']"><h3>Shipped Orders</h3></a>
      </div>
    </div>
    <br>
    <br>
    <!--<div class="row">
      <div class="col-md-3">
        <h3><i class="fa fa-weixin"></i></h3>
        <a class="nav-link" [routerLink]="['/sales']"><h3>Sales</h3></a>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-ship"></i></h3>
        <a class="nav-link" [routerLink]="['/purchaseorders']"><h3>SupplyChain/Logistics</h3></a>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-code"></i></h3>
        <h3>IT</h3>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-blind"></i></h3>
        <h3>Finance</h3>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3">
        <h3><i class="fa fa-id-card"></i></h3>
        <h3>Human Resources</h3>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-building"></i></h3>
        <h3>Maintenance</h3>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-medkit"></i></h3>
        <h3>Safety</h3>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-archive"></i></h3>
        <h3>Scrum</h3>
      </div>
    </div>
    </div>-->
  
  </div>
