<form #createForm="ngForm" (ngSubmit)="create()">
    <h2 class="text-center text-primary"> Create Quote</h2>
    <hr>
  
    <div class="form-group">
        <select name="supplierId" #SupplierId="ngModel" [(ngModel)]="model.supplierId" class="form-control">
          <option *ngFor="let supplier of supplierList" value="{{supplier.supplierId}}">{{supplier.supplierName}}</option>
        </select>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="quotedBy" [(ngModel)]="model.quotedBy" placeholder="quotedBy">
    </div>

    

    <div class="form-group text-center">
      <button class="btn btn-success" [disabled]="!createForm.valid" type="submit">Create</button>
      <button class="btn btn-default" type="button" (click)="cancel()" >Cancel</button>
    </div>
  
</form>
