<div class="container mt-4">

    <div class="row">
        <div class="col-1">      
        </div>
        <div class="col-4 text-left">
            <img [src]="extreme" alt="image" width="270" height="72">
        </div>
        <div class="col-4 text-right">
            <br>
            <h2>Purchase Order</h2>
        </div>
        <div class="col-2">
        </div>
    </div>
<br>
<br>
<br>
    <div class="row">
        <div class="col-1">     
        </div>
        <div class="col-4 text-left">
            <h2>
                Extreme Fabrications, LLC <br>
                PO Box 681274 301 1st St E <br>
                Fort Payne, AL 35968 <br>
            </h2>
        </div>
        <div class="col-4 text-right">
            <h2>
            Purchase Order #:  <br>
                Order Date #:  <br>
               Required Date:  <br>
            </h2>
        </div>
        <div class="col-2"> 
        </div>
    </div>
<hr>
<br>
<br>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-8 text-left">
            <h2><b><u>Supplier:</u></b></h2>
            <h2>
                Supplier Name:  <br>
                      Address:  <br>
        City, State, Zip Code:  <br>
            </h2>
        </div>
        <div class="col-2">
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-1"> 
        </div>
        <div class="col-8 text-left">
            <h2><b><u>Ship To:</u></b></h2>
            <h2>
                         ATTN:  <br>
                 Company Name:  <br>
                      Address:  <br>
        City, State, Zip Code:  <br>
            </h2>
        </div>
        <div class="col-2">
        </div>
    </div>
<br>    
    <div class="row">
        <div class="col-1"> 
        </div>
        <div class="col-8 text-left">

        </div>
        <div class="col-2">
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-1"> 
        </div>
        <div class="col-8 text-left">
            <h2><b><u>Notes / Terms:</u></b></h2>
            <h2>

            </h2>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>

