<h2 class="text-center text-primary"> Create a new Part Number</h2>
<hr>

<form #createForm="ngForm" (ngSubmit)="create()">
  <div class="form-group">
    <input type="text" class="form-control" name="poNumber" [(ngModel)]="poplan.poNumber" Placeholder="PoNumber">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="poLine" [(ngModel)]="poplan.poLine" Placeholder="PoLine">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="supplier" [(ngModel)]="poplan.supplier" Placeholder="Supplier">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="customerOrderNumber" [(ngModel)]="poplan.customerOrderNumber" Placeholder="CustomerOrderNumber">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="soNumber" [(ngModel)]="poplan.soNumber" Placeholder="SoNumber">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="orderDateTime" [(ngModel)]="poplan.orderDateTime" Placeholder="OrderDateTime" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="customerPn" [(ngModel)]="poplan.customerPn" Placeholder="CustomerPn">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="extremePn" [(ngModel)]="poplan.extremePn" Placeholder="ExtremePn">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="partDescription" [(ngModel)]="poplan.partDescription" Placeholder="PartDescription">
  </div>

  <div class="form-group">
    <input type="number" class="form-control" name="orderQty" [(ngModel)]="poplan.orderQty" Placeholder="OrderQty">
  </div>

  <div class="form-group">
    <input type="number" class="form-control" name="receivedQty" [(ngModel)]="poplan.receivedQty" Placeholder="ReceivedQty">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="containerId" [(ngModel)]="poplan.containerId" Placeholder="ContainerId">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="containerExt" [(ngModel)]="poplan.containerExt" Placeholder="ContainerExt">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="freightForwarder" [(ngModel)]="poplan.freightForwarder" Placeholder="FreightForwarder">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="destination" [(ngModel)]="poplan.destination" Placeholder="Destination">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="ams" [(ngModel)]="poplan.ams" Placeholder="Ams">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="bol" [(ngModel)]="poplan.bol" Placeholder="Bol">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="pallet" [(ngModel)]="poplan.pallet" Placeholder="Pallet">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="invoice" [(ngModel)]="poplan.invoice" Placeholder="Invoice">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="arrivalWk" [(ngModel)]="poplan.arrivalWk" Placeholder="ArrivalWk">
  </div>
  
  <div class="form-group">
    <input type="text" class="form-control" name="requestDateTime" [(ngModel)]="poplan.requestedDateTime" Placeholder="RequestDateTime" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="promiseDateTime" [(ngModel)]="poplan.promiseDateTime" Placeholder="PromiseDateTime" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="shipDateTime" [(ngModel)]="poplan.shipDateTime" Placeholder="ShipDateTime" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="etaDateTime" [(ngModel)]="poplan.etaDateTime" Placeholder="EtaDateTime" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="receiptDateTime" [(ngModel)]="poplan.receiptDateTime" Placeholder="ReceiptDateTime" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="poOrderStatus" [(ngModel)]="poplan.poOrderStatus" Placeholder="PoOrderStatus">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="poSentDateTime" [(ngModel)]="poplan.poSentDateTime" placeholder="PoSentDate" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="poSentBy" [(ngModel)]="poplan.poSentBy" Placeholder="PoSentBy">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="poConfirmedDateTime" [(ngModel)]="poplan.poConfirmedDateTime" Placeholder="PoConfirmedDateTime" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="poConfirmedBy" [(ngModel)]="poplan.poConfirmedBy" Placeholder="PoConfirmedBy">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="notes" [(ngModel)]="poplan.notes" Placeholder="Notes">
  </div>
</form>
 
<div class="form-group text-center">
  <button class="btn btn-success" [disabled]="!createForm.valid" type="submit">Create</button>
  <button class="btn btn-default" type="button" (click)="cancel()" >Cancel</button>
</div>



