<div class="container mt-4">
    <div style="text-align: center">
      <div class="row">
        <div class="col-11 text-left">
          <!--<img [src]="jap" alt="image" width="384" height="216">>-->
          <h2>Supply Chain</h2>
          <a class="nav-link" [routerLink]="['/supplychain']"><h2><i class="fa fa-arrow-left"></i></h2></a>
        </div>
      </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3">
        <h3><i class="fa fa-opera"></i></h3>
        <a class="nav-link" [routerLink]="['/quote-create']"><h3>Create New Quote</h3></a>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-barcode"></i></h3>
        <a class="nav-link" [routerLink]="['/quotehistory']"><h3>Quote History</h3></a>
      </div>
    </div>
    <br>
    <br>
    </div>
</div>
