<h2 class="text-center text-primary">Create a new Sales Order</h2>
<hr>
<a class="nav-link" [routerLink]="['/sales']"><h2><i class="fa fa-arrow-left"></i></h2></a>
<br>

<form #createForm="ngForm" (ngSubmit)="create()">

  <div class="form-group">
    <input type="text" class="form-control" name="orderDateTime" [(ngModel)]="model.orderDateTime" Placeholder="OrderDateTime" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <select type="text" class="form-control" required name="customer" [(ngModel)]="model.customer" placeholder="Customer">
      <option value="">Select Customer</option>
      <option value="Sertan">Sertan</option>
      <option value="DIP">DIP</option>
      <option value="UH">UH</option>
      <option value="WB">WB</option>
      <option value="WQ">WQ</option>
    </select>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="customerOrderNumber" [(ngModel)]="model.customerOrderNo" Placeholder="CustomerOrderNo">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="customerOrderLine" [(ngModel)]="model.customerOrderLine" Placeholder="CustomerOrderLine">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="soNumber" [(ngModel)]="model.soNumber" Placeholder="SoNumber">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="woNumber" [(ngModel)]="model.woNumber" Placeholder="WoNumber">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="customerPn" [(ngModel)]="model.customerPn" Placeholder="CustomerPn">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="extremePn" [(ngModel)]="model.extremePn" Placeholder="ExtremePn">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="partDescription" [(ngModel)]="model.partDescription" Placeholder="PartDescription">
  </div>

  <div class="form-group">
    <input type="number" class="form-control" name="orderQty" [(ngModel)]="model.orderQty" Placeholder="OrderQty">
  </div>

  <div class="form-group">
    <input type="number" class="form-control" name="shipQty" [(ngModel)]="model.shipQty" Placeholder="ShipQty">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="invNumber" [(ngModel)]="model.invNumber" Placeholder="InvNumber">
  </div>
 
  <div class="form-group">
    <input type="text" class="form-control" name="requestDateTime" [(ngModel)]="model.requestedDateTime" Placeholder="RequestDateTime" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="promiseDateTime" [(ngModel)]="model.promiseDateTime" Placeholder="PromiseDateTime" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="shipDateTime" [(ngModel)]="model.shipDateTime" Placeholder="ShipDateTime" bsDatepicker [bsConfig]="bsConfig">
  </div>

  <div class="form-group">
    <select type="text" class="form-control" required name="shipPlanStatus" [(ngModel)]="model.shipPlanStatus" placeholder="ShipPlanStatus">
      <option value="">Select Status</option>
      <option value="New">New</option>
      <option value="SoNotConfirmed">SoNotConfirmed</option>
      <option value="Open">Open</option>
      <option value="Slotted">Slotted</option>
      <option value="Closed/Shipped">Closed/Shipped</option>
      <option value="Closed/Canceled">Closed/Canceled</option>
      <option value="OrderToCancel">OrderToCancel</option>
      <option value="Issue">Issue</option>
    </select>
  </div>

  <div class="form-group">
    <select type="text" class="form-control" required name="hotShipment" [(ngModel)]="model.hotShipment" placeholder="HotShipment">
      <option value="">Hot Shipment?</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="carrier" [(ngModel)]="model.carrier" Placeholder="Carrier">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="trackingInfo" [(ngModel)]="model.trackingInfo" Placeholder="TrackingInfo">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="shipToAddress" [(ngModel)]="model.shipToAddress" Placeholder="ShipToAddress">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" name="notes" [(ngModel)]="model.notes" Placeholder="Notes">
  </div>

<div class="form-group text-center">
  <button class="btn btn-success" [disabled]="!createForm.valid" type="submit">Create</button>
  <button class="btn btn-default" type="button" (click)="cancel()" >Cancel</button>
</div>

</form>

