<div class="modal-header">
    <h4 class="modal-title pull-left">Edit Qoh: {{soplan?.soNumber}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #soPlanForm="ngForm" id="soPlanForm">

        <div class="form-group">
            <input type="text" class="form-control" name="orderDateTime" [(ngModel)]="soplan.orderDateTime" Placeholder="OrderDateTime" bsDatepicker [bsConfig]="bsConfig">
          </div>
        
          <div class="form-group">
            <select type="text" class="form-control" required name="customer" [(ngModel)]="soplan.customer" placeholder="Customer">
              <option value="">Select Customer</option>
              <option value="Sertan">Sertan</option>
              <option value="DIP">DIP</option>
              <option value="UH">UH</option>
              <option value="WB">WB</option>
              <option value="WQ">WQ</option>
              <option value="FG">FG</option>
            </select>
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="customerOrderNumber" [(ngModel)]="soplan.customerOrderNo" Placeholder="CustomerOrderNumber">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="customerOrderLine" [(ngModel)]="soplan.customerOrderLine" Placeholder="CustomerOrderLine">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="soNumber" [(ngModel)]="soplan.soNumber" Placeholder="SoNumber">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="woNumber" [(ngModel)]="soplan.woNumber" Placeholder="WoNumber">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="customerPn" [(ngModel)]="soplan.customerPn" Placeholder="CustomerPn">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="extremePn" [(ngModel)]="soplan.extremePn" Placeholder="ExtremePn">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="partDescription" [(ngModel)]="soplan.partDescription" Placeholder="PartDescription">
          </div>
        
          <div class="form-group">
            <input type="number" class="form-control" name="orderQty" [(ngModel)]="soplan.orderQty" Placeholder="OrderQty">
          </div>
        
          <div class="form-group">
            <input type="number" class="form-control" name="shipQty" [(ngModel)]="soplan.shipQty" Placeholder="ShipQty">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="invNumber" [(ngModel)]="soplan.invNumber" Placeholder="InvNumber">
          </div>
         
          <div class="form-group">
            <input type="text" class="form-control" name="requestedDateTime" [(ngModel)]="soplan.requestedDateTime" Placeholder="RequestedDateTime" bsDatepicker [bsConfig]="bsConfig">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="promiseDateTime" [(ngModel)]="soplan.promiseDateTime" Placeholder="PromiseDateTime" bsDatepicker [bsConfig]="bsConfig">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="shipDateTime" [(ngModel)]="soplan.shipDateTime" Placeholder="ShipDateTime" bsDatepicker [bsConfig]="bsConfig">
          </div>
        
          <div class="form-group">
            <select type="text" class="form-control" required name="shipPlanStatus" [(ngModel)]="soplan.shipPlanStatus" placeholder="ShipPlanStatus">
              <option value="">Select Status</option>
              <option value="New">New</option>
              <option value="SoNotConfirmed">SoNotConfirmed</option>
              <option value="Open">Open</option>
              <option value="Slotted">Slotted</option>
              <option value="Closed/Shipped">Closed/Shipped</option>
              <option value="Closed/Canceled">Closed/Canceled</option>
              <option value="OrderToCancel">OrderToCancel</option>
              <option value="Issue">Issue</option>
            </select>
          </div>
          <!--
          <div class="form-group">
            <input type="text" class="form-control" name="soOrderStatus" [(ngModel)]="soplan.soOrderStatus" Placeholder="SoOrderStatus">
          </div>
          -->
          <div class="form-group">
            <select type="text" class="form-control" required name="hotShipment" [(ngModel)]="soplan.hotShipment" placeholder="HotShipment">
              <option value="">Hot Shipment?</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="carrier" [(ngModel)]="soplan.carrier" Placeholder="Carrier">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="trackingInfo" [(ngModel)]="soplan.trackingInfo" Placeholder="TrackingInfo">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="shipToAddress" [(ngModel)]="soplan.shipToAddress" Placeholder="ShipToAddress">
          </div>
        
          <div class="form-group">
            <input type="text" class="form-control" name="notes" [(ngModel)]="soplan.notes" Placeholder="Notes">
          </div>
    </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  <button type="button" class="btn btn-success" (click)="updateSoPlan()" form="soPlanForm">Submit</button>
</div>
