<div class="container mt-4">
    <div style="text-align: center">
      <div class="row">
        <div class="col-11 text-left">
          <!--<img [src]="jap" alt="image" width="384" height="216">>-->
          <h2>Supply Chain</h2>
          <a class="nav-link" [routerLink]="['/landing']"><h2><i class="fa fa-arrow-left"></i></h2></a>
        </div>
      </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3">
        <h3><i class="fa fa-opera"></i></h3>
        <a class="nav-link" [routerLink]="['/poplan-create']"><h3>Create New PO</h3></a>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-barcode"></i></h3>
        <a class="nav-link" [routerLink]="['/purchaseorders']"><h3>Open Orders</h3></a>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-eye"></i></h3>
        <a class="nav-link" [routerLink]="['/transit']"><h3>In Transit</h3></a>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-magnet"></i></h3>
        <a class="nav-link" [routerLink]="['/received']"><h3>Received Orders</h3></a>
      </div>
    </div>
    <div class="row" *appHasRole='["Admin"]'>
      <div class="col-md-3">
        <h3><i class="fa fa-opera"></i></h3>
        <a class="nav-link" [routerLink]="['/quote']"><h3>Manage Supplier Quotes</h3></a>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-barcode"></i></h3>
        <a class="nav-link" [routerLink]="['/']"><h3></h3></a>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-eye"></i></h3>
        <a class="nav-link" [routerLink]="['/']"><h3></h3></a>
      </div>
      <div class="col-md-3">
        <h3><i class="fa fa-magnet"></i></h3>
        <a class="nav-link" [routerLink]="['/']"><h3></h3></a>
      </div>
    </div>
    <br>
    <br>
  
  </div>